# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Dataset files
*.npy
*.pt
*.tar.gz
*.zip
*.jpg
*.png
*.jpeg
*.bmp
*.tar.gz

# Folders
UTKFace_combined/
datasets/
data/
results/
results/
result/
output/

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak

# Ignore all YAML configs inside results
result/**/config.yaml
